<mat-grid-list cols="3" rowHeight="500px">
  <mat-grid-tile [style.border]="'3px solid gray'">
    <!-- <button mat-flat-button routerLink="/lignedefrais" color="warn">Un</button> -->
    <app-notedefraisresume [id_notedefrais]=topthreeNdf[0] [moisAnnee]=topthreeMonth[0]></app-notedefraisresume>
  </mat-grid-tile>
  <mat-grid-tile [style.border]="'3px solid gray'">
    <app-notedefraisresume [id_notedefrais]=topthreeNdf[1] [moisAnnee]=topthreeMonth[1]></app-notedefraisresume>
  </mat-grid-tile>
  <mat-grid-tile  [style.border]="'3px solid gray'">
    <app-notedefraisresume [id_notedefrais]=topthreeNdf[2] [moisAnnee]=topthreeMonth[2]></app-notedefraisresume>
  </mat-grid-tile>
</mat-grid-list>
