<h1 mat-dialog-title>Gérer Demande de congé</h1>
<div mat-dialog-content>
  <h3 *ngIf = "listeCollab.length >0">{{listeCollab[demande.id_collab - 1].nom_collab}} {{listeCollab[demande.id_collab - 1].prenom_collab}}</h3>
  <table class="table table-striped">
      <thead>
      <tr>
        <th>Type Demande</th>
        <th>Date début</th>
        <th>Date fin</th> 
        <th>Durée</th> 
      </tr>
      </thead>
      <tbody>
      <tr>
        <td *ngIf = "demande.type_demande_conge === 'rtt'"> RTT</td>
        <td *ngIf = "demande.type_demande_conge === 'cp'"> Congé Payé</td>
        <td *ngIf = "demande.type_demande_conge === 'css'"> Congé Sans Solde</td>
        <td *ngIf = "demande.debut_matin == 0"> {{demande.date_debut | date : 'dd/MM/yyyy'}} : après-midi </td>
        <td *ngIf = "demande.debut_matin == 1"> {{demande.date_debut | date : 'dd/MM/yyyy'}} : matin </td>
        <td *ngIf = "demande.fin_aprem == 0"> {{demande.date_fin | date : 'dd/MM/yyyy'}} : matin </td>
        <td *ngIf = "demande.fin_aprem == 1"> {{demande.date_fin | date : 'dd/MM/yyyy'}} : après-midi </td>
        <td>{{demande.duree}} demi-journées</td>
      </tr>
      </tbody>
    </table>  
  
  <section>
    <h4>Récapitulatif</h4>
    <table class="table table-striped">
        <thead>
        <tr>
          <th>Type</th>
          <th>Pris</th>
          <th>Restant</th> 
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>RTT</td>
          <td>{{infoConges[0].rtt_pris}}</td>
          <td>{{infoConges[0].rtt_restant}}</td>
        </tr>
        <tr>
            <td>Congé Payé</td>
            <td>{{infoConges[0].cp_pris}}</td>
            <td>{{infoConges[0].cp_restant}}</td>
        </tr>
        <tr>
            <td>Congé Sans Solde</td>
            <td>{{infoConges[0].css_pris}}</td>
            <td>/</td>
        </tr>
        </tbody>
      </table>
    </section>
  <aside><button class="margin-right btn btn-success" (click) = "onClick(1)">Accepter</button>
  <button class="margin-right btn btn-danger" (click) = "onClick(0)">Refuser</button></aside>
  <button mat-button (click)="onCancel()">Annuler</button>
</div>
