<div *ngIf="!mobileVersion" class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <!-- Date-Heure Column -->
      <ng-container matColumnDef="date_heure" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width:200px;" > Date - Heure </th>
        <td mat-cell *matCellDef="let element" style="min-width:200px;"> {{ element.date_notif | date : 'dd/MM/yyyy'}} </td>
      </ng-container>
  
      <!-- Notification Column -->
      <ng-container matColumnDef="notif" >
        <mat-header-cell *matHeaderCellDef  > Notifications </mat-header-cell>
        <mat-cell *matCellDef="let element"> 
          <app-notif-msg  ndf="{{element.ndf}}"
          id="{{element.id}}" 
          type="{{element.type}}" 
          date="{{element.date}}" 
          statut="{{element.statut}}" ></app-notif-msg> 
        </mat-cell>
      </ng-container> 
  
   
  
      <mat-header-row *matHeaderRowDef="displayedColumns" ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>

<div *ngIf="mobileVersion" class="example-container mat-elevation-z8">
  <table class="table table-striped">  
    <tbody>
    <tr *ngFor="let element of lNotifDisplay">
      <td style="max-width: 75px; font-size: 13px; position: relative; top : 3em;">
          {{ element.date_notif | date : 'dd/MM/yyyy'}}
      </td>
      <td>
        <app-notif-msg  ndf="{{element.ndf}}"
        id="{{element.id}}" 
        type="{{element.type}}" 
        date="{{element.date}}" 
        statut="{{element.statut}}" >
        </app-notif-msg>
      </td>
    </tr>
    </tbody>
  </table>
</div>