.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-nav{
  position: absolute;
  right: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 3px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.row {
  margin-left: 10px;
  margin-right: 10px;
}

.row-sidenav-content {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}