<mat-sidenav-container class="sidenav-container" *ngIf="isOn">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div *ngIf="mobileVersion" class="row">
        <mat-divider></mat-divider>
        <div style="width: 70%;">
          {{ firstname }} {{ lastname }}<br>
          {{ service }}
        </div>
        <div style="width: 30%;">
          <button mat-mini-fab color="primary" style="position: relative; left: 25%; top: 15%"(click)="logout()">
            <mat-icon>power_settings_new</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div> 
      <a mat-list-item (click)="goToNotif()">Notifications</a>
      <a mat-list-item *ngIf="isCDS || isCompta || isRH" (click)="goToNotifService()">Notifications Service</a>
      <a mat-list-item (click)="goToConge()">Congés</a>
      <a mat-list-item (click)="goToNDF()">Note de frais</a>
      <a mat-list-item *ngIf="isCDS" (click)="goToGestionConge()">Gestion congés</a>
      <a mat-list-item *ngIf="isCDS" (click)="goToGestionNDF()">Gestion notes de frais</a>
      <a mat-list-item *ngIf="isCDS" (click)="goToGestionMission()">Gestion missions</a>
      <a mat-list-item *ngIf="isCompta" (click)="goToGestionCompta()">Service comptabilité</a>
      <a mat-list-item *ngIf="isRH" (click)="goToGestionRH()">Service RH</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div *ngIf="!mobileVersion" class="row-sidenav-content">
        <h1>Nara</h1>
        <h1 style="position: absolute; top: 0px; left:125px;">Collab : {{ firstname }} {{ lastname }}</h1>  
        <h1 style="position: absolute; top: 0px; left:400px;">Date : {{ date | date : 'dd/MM/yyyy' }}</h1>
        <h1 style="position: absolute; top: 0px; left:650px;">Service {{ serviceToString() }}</h1>
        <button mat-icon-button style="position: absolute; top: -6px; left: 925px;" (click)="logout()">
          <mat-icon style="color: white">power_settings_new</mat-icon>
        </button> 
      
      </div>
      <div *ngIf="mobileVersion">
        <h1 style="position: relative; left: 40px;">
            Date : {{ date | date : 'dd/MM/yyyy' }}
        </h1>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-login *ngIf="!isOn"></app-login>


