<h1 mat-dialog-title>Information</h1>
<div mat-dialog-content *ngIf="!data.avance">
    <p *ngIf="noF || noCds; else elseBlock">
            <span *ngIf="noCds">Refus chef de service</span>
            <span *ngIf="noF">Refus service comptabilité</span>
            <br>
            Motif : {{ldf.commentaire_refus}} <br>
    </p>
    <ng-template #elseBlock>
        <p>
            Statut : {{ldf.status}}<br>
        </p>
    </ng-template>
    <p>
        Mission : {{ldf.mission}}<br>
        Date mission : {{ldf.date_mission | date : 'dd/MM/yyyy'}}<br>
        Libellé : {{ldf.libelle}}<br>
        Montant : {{ldf.montant}}€<br>
    </p>
    <p *ngIf="ldf.avance">
        Montant estimé : {{ldf.montant_estime}}€<br>
        Montant avancé : {{ldf.montant_avance}}€<br>
    </p>
    <p>
        Commentaire : {{ldf.commentaire}}<br>
    </p>
</div>
<div mat-dialog-content *ngIf="!data.avance">
    <p *ngIf="noF || noCds; else elseBlock">
            <span *ngIf="noCds">Refus chef de service</span>
            <span *ngIf="noF">Refus service comptabilité</span>
            <br>
            Motif : {{ldf.commentaire_refus}} <br>
    </p>
    <ng-template #elseBlock>
        <p>
            Statut : {{ldf.status}}<br>
        </p>
    </ng-template>
    <p>
        Mission : {{ldf.mission}}<br>
        Date mission : {{ldf.date_mission | date : 'dd/MM/yyyy'}}<br>
        Libellé : {{ldf.libelle}}<br>
        Montant estimé : {{ldf.montant_estime}}€<br>
        Montant avancé : {{ldf.montant_avance}}€<br>
        Commentaire : {{ldf.commentaire}}<br>
    </p>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onClick()">Retour</button>
</div>