<h1 mat-dialog-title>Nouvelle ligne de frais</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Mission" [(ngModel)]="data.comp.id_mission">
      <mat-option *ngFor="let miss of missions" [value]="miss.id_mission">
        {{miss.nom_mission}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="missionControl.hasError('required')">Sélectionner une mission</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Libellé" [(ngModel)]="data.comp.libelle">
      <mat-option *ngFor="let lib of libelles" [value]="lib.viewValue">
        {{lib.viewValue}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="libelleControl.hasError('required')">Sélectionner un libellé</mat-error>
  </mat-form-field>
  <mat-form-field>
    <div [formGroup]="myGroup">
      <input matInput placeholder="Montant" formControlName="montantControl">
      <mat-error *ngIf="myGroup.get('montantControl').hasError('pattern') && !myGroup.get('montantControl').hasError('required')">
        Montant invalide
      </mat-error>
      <mat-error *ngIf="myGroup.get('montantControl').hasError('required')">
        Montant manquant
      </mat-error>
    </div>
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Commentaire" [(ngModel)]="data.comp.commentaire">
  </mat-form-field>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button (click)="onClick()" [mat-dialog-close]="data" cdkFocusInitial>Ajouter</button>
</div>
