<h1 mat-dialog-title>Nouvelle ligne de frais</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-select placeholder="Mission" [(ngModel)]="data.comp.id_mission" (ngModelChange)="onChange()" required>
      <mat-option *ngFor="let miss of missions" [value]="miss.id_mission">
        {{miss.nom_mission}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="missionControl.hasError('required')">Sélectionner une mission</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Libellé " [(ngModel)]="data.comp.libelle" (ngModelChange)="onChange()" required>
      <mat-option *ngFor="let lib of libelles" [value]="lib.value">
        {{lib.value}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="libelleControl.hasError('required')">Sélectionner un libellé</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Montant" (ngModelChange)="onChange()" [formControl]="montantControl" required>
    <mat-error *ngIf="montantControl.invalid"> 
      {{ getErrorMessage() }}
    </mat-error>

  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Commentaire" [(ngModel)]="data.comp.commentaire">
  </mat-form-field>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button mat-button [disabled]="!_ldfValide" (click)="onClick()" [mat-dialog-close]="data">Ajouter</button>
</div>
