<h1 mat-dialog-title *ngIf="!mobileVersion">Nouvelle demande d'avance</h1>
<p mat-dialog-title *ngIf="mobileVersion" style="font-size: 15px;">Nouvelle demande d'avance</p>
<div mat-dialog-content *ngIf="hasMiss" >
  <mat-form-field>
    <mat-select placeholder="Mission" [(ngModel)]="data.comp.id_mission" (ngModelChange)="onChange()" required>
      <mat-option *ngFor="let miss of missions" [value]="miss.id_mission">
        {{miss.nom_mission}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="missionControl.hasError('required')">Sélectionner une mission</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Libellé " [(ngModel)]="data.comp.libelle" (ngModelChange)="onChange()" required>
      <mat-option *ngFor="let lib of libelles" [value]="lib.value">
        {{lib.value}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="libelleControl.hasError('required')">Sélectionner un libellé</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Montant" (ngModelChange)="onChange()" [formControl]="montantControl" required>
    <mat-error *ngIf="montantControl.invalid"> 
      {{ getErrorMessage() }}
    </mat-error>

  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Commentaire" [(ngModel)]="data.comp.commentaire">
  </mat-form-field>
  <br>
  <div *ngIf="isAvance">
    <p>
      La mission commencera le {{ dateAvance | date : 'dd/MM/yyyy' }}
      <br>
    </p>  
    <div *ngIf="nbJours > 10; else elseBlock">
      <p>
        Nombre de jour(s) restant(s) avant la mission : <strong>{{ nbJours }}</strong> 
      </p>
    </div>
    <ng-template #elseBlock>
      <p>
        Nombre de jour(s) restant(s) avant la mission : <strong>{{ nbJours }}</strong>
        <br>
        La demande passera en statut URGENT. 
      </p>
    </ng-template>
  </div>
</div>
<div mat-dialog-actions *ngIf="hasMiss" >
  <button mat-raised-button (click)="onNoClick()">Annuler</button>
  <button mat-raised-button [disabled]="!_ldfValide" (click)="onClick()" [mat-dialog-close]="data">Ajouter</button>
</div>
<div  *ngIf="!hasMiss" >
  <p>Aucune missions possible pour une demande d'avance</p>
</div>
