<p>
  Id ndf = {{ id_ndf }}
</p>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      
      <ng-container matColumnDef="avance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> avance </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="isAvance(element); else elseBlock">
            {{element.montant_avance}}
          </div>
          <ng-template #elseBlock>
            <mat-checkbox *ngIf="isCheckable(element.status)" (change)="onCheck(element)"></mat-checkbox>
          </ng-template>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
      </ng-container>
  
      <ng-container matColumnDef="mission">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mission </th>
        <td mat-cell *matCellDef="let element"> {{element.mission}} </td>
      </ng-container>
  
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'ajout </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date : 'dd/MM/yyyy'}} </td>
      </ng-container>
  
      <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Libellé </th>
        <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
      </ng-container>
  
      <ng-container matColumnDef="montant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
        <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
      </ng-container>
  
      <ng-container matColumnDef="commentaire">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Commentaire </th>
        <td mat-cell *matCellDef="let element"> {{element.commentaire}} </td>
      </ng-container>

      
      <ng-container matColumnDef="justificatif">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Justificatif </th>
        <td mat-cell *matCellDef="let element"> {{element.justificatif}} </td>
      </ng-container>
      
      <ng-container matColumnDef="modifier">
          <th mat-header-cell *matHeaderCellDef>Modifier</th>
          <td mat-cell *matCellDef="let element">
              <button mat-flat-button *ngIf="modifPossible(element) && !element.avance" (click)="openDialogModifierLignedefrais(element)" color="accent">Modifier</button>    
              <button mat-flat-button *ngIf="modifPossible(element) && element.avance" (click)="openDialogModifierAvance(element)" color="accent">Modifier</button>    
          </td>
      </ng-container>
      
      <ng-container matColumnDef="supprimer">
          <th mat-header-cell *matHeaderCellDef>Supprimer</th>
          <td mat-cell *matCellDef="let element">
              <button mat-flat-button *ngIf="supprPossible(element)" (click)="supprLignedefrais(element.id_ldf)" color="warn">Supprimer</button>    
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- <mat-paginator showFirstLastButtons></mat-paginator> -->
    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
  <button mat-raised-button (click)="openDialogNouvelleLignedefrais()">Ajouter une ligne</button>
  <br>
  <button mat-flat-button (click)="openDialogEnvoyerAvance()" color="warn">Envoyer les avances</button>
  <button mat-flat-button (click)="temp()" color="warn">Envoyer</button>