<h1 mat-dialog-title>Nouvelle demande de congé</h1>
<div mat-dialog-content>
        <mat-form-field *ngIf = "infoConge.length > 0">
            <mat-label>Type demande congé</mat-label>
          <mat-select [(value)]="newDemande.type_demande_conge" (selectionChange) = "fill(0)">
            <mat-select-trigger *ngIf = "newDemande.type_demande_conge == 'rtt'">RTT</mat-select-trigger>
            <mat-select-trigger *ngIf = "newDemande.type_demande_conge == 'cp'">Congé Payé</mat-select-trigger>
            <mat-select-trigger *ngIf = "newDemande.type_demande_conge == 'css'">Congé Sans Solde</mat-select-trigger>

            <mat-option value="rtt" *ngIf = "infoConge[0].rtt_restant > 1">RTT ({{infoConge[0].rtt_restant}} demi-journées)</mat-option>
            <mat-option value="rtt" *ngIf = "infoConge[0].rtt_restant == 0" disabled>RTT ({{infoConge[0].rtt_restant}} demi-journée)</mat-option>
            <mat-option value="rtt" *ngIf = "infoConge[0].rtt_restant == 1">RTT ({{infoConge[0].rtt_restant}} demi-journée)</mat-option>
            <mat-option value="cp" *ngIf = "infoConge[0].cp_restant > 1">Congé Payé ({{infoConge[0].cp_restant}} demi-journées)</mat-option>
            <mat-option value="cp" *ngIf = "infoConge[0].cp_restant == 0" disabled>Congé Payé ({{infoConge[0].cp_restant}} demi-journée)</mat-option>
            <mat-option value="cp" *ngIf = "infoConge[0].cp_restant == 1">Congé Payé ({{infoConge[0].cp_restant}} demi-journée)</mat-option>
            <mat-option value="css">Congé sans Solde</mat-option>
          </mat-select>
        </mat-form-field>

          <mat-form-field>
              <mat-label>Date début congé</mat-label>
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker3" placeholder="Date début congé" 
              [(ngModel)]="newDemande.date_debut" [min] = "dateMin" (dateChange) = "fill(1)" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3 [disabled]="!isFilled.type"></mat-datepicker>
            </mat-form-field>

          <mat-form-field>
              <mat-label>Début Congé</mat-label>
              <mat-select [(value)]="newDemande.debut_matin" (selectionChange) = "fill(2)" [disabled] = "!isFilled.type">
                <mat-option value=1>Matin</mat-option>
                <mat-option value=0>Après-Midi</mat-option>
              </mat-select>
            </mat-form-field>

          <mat-form-field>
              <mat-label>Date fin congé</mat-label>
              <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" placeholder="Date fin congé" 
              [(ngModel)]="newDemande.date_fin" [min] = "newDemande.date_debut" (dateChange) = "fill(3)" [max] = "dateMaxi" disabled>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 [disabled]="!isFilled.am"></mat-datepicker>
            </mat-form-field>


          <mat-form-field>
              <mat-label>Fin Congé</mat-label>
              <mat-select [(value)]="newDemande.fin_aprem" (selectionChange) = "fill(4)" [disabled] = "!isFilled.end">
                <mat-option value=0 [disabled] = "forcedPm">Matin</mat-option>
                <mat-option value=1 [disabled] = "forcedAm">Après-Midi</mat-option>
              </mat-select>
            </mat-form-field>
      <p *ngIf = "calculDuree(newDemande) >= 0">{{calculDuree(newDemande)}} demi-journées</p>
      <p *ngIf = "calculDuree(newDemande) < 0">0 demi-journées</p>
</div>
<div>
<button
class="btn btn-success"
(click) = "createDemande(newDemande)"
[disabled] = "!isFilled.pm">
Valider
</button>
<button mat-button (click)="onCancel()">Annuler</button>
</div>