<div class="example-container mat-elevation-z8">
  <mat-table #table *ngIf="values" [dataSource]="dataSource" matSort>

    <!-- Date-Heure Column -->
    <ng-container matColumnDef="date_heure">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width:150px;"> Date - Heure </th>
      <td mat-cell *matCellDef="let element" style="min-width:150px;"> {{element.date_notif}} </td>
    </ng-container>

    <!-- Collaborateur Column -->
    <ng-container matColumnDef="collaborateur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width:150px;"> Collaborateur </th>
        <td mat-cell *matCellDef="let element" style="min-width:150px;"> {{element.nom}} {{element.prenom}}  </td>
      </ng-container>

    <!-- Notification Column -->
    <ng-container matColumnDef="notif">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Notifications </mat-header-cell>
      <mat-cell *matCellDef="let element"> 
        <app-notif-msg-service  
        ndfforcds="{{element.ndfforcds}}"
        service="{{element.service}}"
        ndf="{{element.id}}" 
        id="{{element.id_collab}}" 
        type="{{element.type}}" 
        date="{{element.date}}" 
        nom="{{element.nom}}"
        prenom="{{element.prenom}}"
        statut="{{element.statut}}" ></app-notif-msg-service> 
      </mat-cell>
    </ng-container> 

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

</div>