section 
{
    float: left;
    margin: 0 1.5%;
    width: 40%;
    height: 30%;
}

h3
{
    margin: 10px 10px 10px;
    text-align: center;
}

table
{
    float: right;
}

.button{
    max-height: 35px;
    margin: auto;
}