section{
    text-align: center;
    margin: 5px;
}

.mat-header-cell {
    text-align: center;
    font-size: 15px;
}

.mat-cell {
    padding: 10px 10px 10px 0;
    text-align: center;
}

.button1 {
    margin: 10px;
    background-color: #6E95C1; /* Green */
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
  }