 <aside><table class="table table-striped">
  <thead>
  <tr>
    <th>Congés payés pris</th>
    <th>Congés payés restants</th>
    <th>RTT pris</th> 
    <th>RTT restants</th>
    <th>Congés sans soldes pris</th> 
  </tr>
  </thead>
  <tbody>
  <tr *ngFor ="let test of infoConges">
    <td>{{test.cp_pris}}</td>
    <td>{{test.cp_restant}}</td>
    <td>{{test.rtt_pris}}</td>
    <td>{{test.rtt_restant}}</td>
    <td>{{test.css_pris}}</td>
  </tr>
  </tbody>
</table>
<a routerLink = "../historiqueconge"><button class= "button button1" mat-button >Historique</button></a>
</aside>
<a routerLink = "../create-demandeconge"><button mat-button>Nouvelle Demande</button></a>
<!--<aside><table class="table table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th>Type Congé</th>
    <th>Date début</th> 
    <th>Date fin</th>
    <th>Statut</th> 
    <th>Durée (demi-journées)</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor ="let test of listeDemande">
    <td>{{test.id_demande_conge}}</td>
    <td>{{test.type_demande_conge}}</td>
    <td>{{test.date_debut | date : 'dd/MM/yyyy'}}</td>
    <td>{{test.date_fin | date : 'dd/MM/yyyy'}}</td>
    <td>{{test.status_conge}}</td>
    <td>{{test.duree}}</td>
  </tr>
  </tbody>
</table>
</aside>-->

<app-demandeconge></app-demandeconge>