<div class="container">

    <form class="form-signin" name="registerForm">
      <h2 class="form-signin-heading">Bienvenue</h2>
      <label for="inputEmail" class="sr-only">id </label>
      <input name="ID" type="text" id="inputEmail" class="form-control" placeholder="Identifiant" required ng-minlength="1">
      <label for="inputPassword" class="sr-only">mdp</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" required>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Se souvenir de moi
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block">Se connecter</button>
    </form>
</div>
<!-- /container -->